---
import Layout from "../layouts/layout.astro";
---

<Layout title='404.. try another door'>
  <div class='four-four'>
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>Sorry, the page you are looking for does not exist.</p>
  </div>
</Layout>
<style>
  .four-four {
    display: flex;
    margin-top: -9rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  h1 {
    font-size: 6rem;
    margin: 0;
    color: goldenrod;
  }
  h2 {
    margin: 0;
    font-size: 3rem;
    color: coral;
  }

  p {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1rem;
    background-color: #33333367;
  }
</style>
