---
import Layout from "../layouts/layout.astro";
import TextSection from "../components/text-section.astro";
---

<Layout title='BLOG'>
  <TextSection title='blog.. 👀'>
    <p>Coming soon.....</p>
  </TextSection>
</Layout>
