---
import BlogPost from "../layouts/blog-post.astro";
import BlogLayout from "../layouts/blog.astro";
---

<BlogLayout title='BLOG'>
  <BlogPost title='Hello World' date='2021-05-01'>
    <p>My first blog post</p>
  </BlogPost>
</BlogLayout>
