---
import Layout from "../layouts/layout.astro";
import TextSection from "../components/text-section.astro";
---

<Layout title='PORTFOLIO'>
  <TextSection title='PORTFOLIO'>
    <p>Coming soon.....</p>
  </TextSection>
</Layout>
