---
import Skill from "./skill.astro";
const { title, id, description, skills, active } = Astro.props;
---

<div id={id} class:list={["skill-box", { active: active }, { inactive: !active }]}>
  <div class='skill-title'>{title}</div>
  <div class='next-skill'></div>
  <div class='skill-description'>
    <p>{description}</p>
  </div>
  {(skills ?? []).map((skill: any) => <Skill {...skill} />)}
  <slot />
</div>
<style>
  p {
    color: burlywood;
  }

  .active {
    display: flex;
  }

  .inactive {
    display: none;
  }

  .skill-title {
    position: relative;
    top: -42px;
    left: 30px;
    width: fit-content;
    height: 30px;
    margin-bottom: -30px;
    font-size: 2rem;
    color: darkorange;
    text-align: center;
  }

  .skill-description {
    margin-left: 2rem;
    margin-right: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .skill-box {
    width: 85%;
    max-width: 800px;
    flex-direction: column;
    border: 2px solid slateblue;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    /* box-shadow: 0 0 12px 8px rgba(255, 127, 80, 0.232); */
    background-color: #272b3586;
  }

  .skill-box:hover {
    box-shadow: 0 0 12px 8px rgba(255, 127, 80, 0.432);
    transition: all 0.3s ease-in-out;
  }

  .skill-box .right {
  }
</style>
