---
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import TitleCard from "../components/title-card.astro";
import BlogMenu from "../components/blog-menu.astro";
import "./blog.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <script type='module' src='https://unpkg.com/htmx.org@1.9.10' defer='/scripts/htmx.min.js'></script>
    <title>{title}</title>
  </head>
  <body>
    <TitleCard primary='true' />
    <div class='bkg-img'></div>
    <Menu />
    <BlogMenu />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "protest";
    src: url("/fonts/ProtestStrike-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "teko";
    src: url("/fonts/Teko-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "roboto";
    src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  }
  html {
    font-family: "teko";
    background: #13151a;
  }

  body {
    /* margin: 0; */
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: rgba(var(--accent-dark), 0.5); /* Track color */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(var(--accent)); /* Thumb color */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--accent-light)); /* Thumb color when hovered */
  }

  .bkg-img {
    position: fixed;
    top: -8%;
    left: 0;
    background: url("/images/skyline.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scale: 1;
    z-index: -1;
    width: 101vw;
    height: 115%;
  }

  p {
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  ul li {
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  h3 {
    color: powderblue;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }

  /* galaxy fold... */
  @media (max-width: 285px) {
    body {
      width: 90vw;
    }
  }

  @media (min-width: 300px) and (max-width: 500px) {
    .bkg-img {
      width: 540px;
    }
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
