---
const { frontmatter } = Astro.props;
---

<div class='blog-post' '>
  <div class='blog-post-header'>
    <div class:list={["blog-post-title"]}>
      <h1>{new Date(frontmatter.pubDate).toLocaleDateString()}</h1>
    </div>
  </div>
  <div class='blog-post-content'>
    <div class='post-display'>
      <h1 class='post-title-text'>{frontmatter.title}</h1>
      <div class='header-bar'></div>
      <slot />
    </div>
  </div>
  <div class='blog-post-header'>
    {
      frontmatter?.tags?.map((tag: string) => {
        console.log(tag);
        return (
          <div class:list={["blog-post-title", "align-left"]}>
            <h1>{tag.toUpperCase()}</h1>
          </div>
        );
      })
    }
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
<style>
  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    width: 90%;
    background-color: slateblue;
  }
  .blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .blog-post-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: flex-start;
    max-width: 800px;
    width: 85%;
  }
  .blog-post-title {
    width: fit-content;
    text-align: center;
    background-color: #272b3586;
    border: 2px solid slateblue;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
  }

  .post-title-text {
    text-overflow: ellipsis;
  }
  .blog-post-title h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .blog-post-content {
    width: 85%;
    max-width: 800px;
    flex-direction: column;
    border: 2px solid slateblue;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 0;
    /* box-shadow: 0 0 12px 8px rgba(255, 127, 80, 0.232); */
    background-color: #272b3586;
  }

  .blog-post-content h1 {
    margin: 0;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .blog-post-content p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: white;
  }

  .post-display {
    width: 100%;
    max-width: 80vw;
  }

  h1 {
    color: powderblue;
  }

  p {
    color: white;
    font-size: 0.8rem;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "roboto", sans-serif;
  }
</style>
